body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,rgb(65, 247, 9), rgb(1, 246, 233));
    font-family: -apple-system;
    display: block;
    text-align: center;
    margin-top: 100px;
}
#h1{
    color: rgba(0, 0, 0,0.5);
    word-spacing: 6px;
    letter-spacing: 6px;
    text-shadow:  rgba(10, 6, 1, .5) 3px 3px 4px;
}
#h2{
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: rgba(0, 0, 0,0.6);
}
#h3{
    letter-spacing: 3px;
    word-spacing: 2px;
    color: rgba(0, 0, 0,0.7);
}